<div class="container mt-4">
  <h2>Listado clientes</h2>

  <!-- Verifica si hay clientes antes de mostrar la tabla -->
  <ng-container *ngIf="clientes && clientes.length > 0; else noClientes">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">CIF</th>
        <th scope="col">Dirección</th>
        <th scope="col">Grupo</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.cif}}</td>
        <td>{{cliente.direccion}}</td>
        <td>{{cliente.grupo}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <!-- Mensaje a mostrar si no hay clientes -->
  <ng-template #noClientes>
    <p>No hay clientes.</p>
  </ng-template>
</div>
